# Midterm take-home

<p>Instructions
<ol>
<li>Download the file <i>appointments.csv</i> into the same folder as the current Jupyter notebook
<li>Run the code below and then answer the questions
</ol></p>

<b>Penalties:</b> You will incur penalties if:
<ul>
<li>Your answer is different from the correct one</li>
<li>Your code is unncessarily slow</li>
<li>Your code is longer than specified</li>
<li>You will be penalized if, in an attempt to limit the lines of code, you make your code too hard to read or too slow -- for example, by copy-pasting pieces of code in the same line instead of declaring a variable in one line and using the variable in another.
</ul>

In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('appointments.csv', index_col=0)

## Data Description

In [2]:
len(df)

41631

This is an appointment data set for an undisclosed outpatient clinic. One row corresponds to an appointment. Each appointment is characterized by the following attributes:
<ul>
<li><b>AppointmentID</b>: The unique identifier of the appointment.
<li><b>MRN</b>: The unique identifier of the patient (MRN = Medical Record Number).
<li><b>Appt Date</b>: The date when the appointment took place.
<li><b>Appt Time</b>: The time (expressed in minutes after midnight) when the appointment took place.
<li><b>Appointment Status</b>: The outcome of the appointment. 
    <ul>
    <li><i>Arrived</i>: the appointment took place regularly.
    <li><i>Cancelled</i>: the appointment was cancelled by the patient before taking place. 
    <li><i>Bumped</i>: the appointment was cancelled by the provider.
    <li><i>No Show</i>: the patient did not show up for the appointment.
    <li><i>Pending</i>: the appointment did not take place yet in the moment when the data was pulled.
    </ul>
<li><b>Time When Appt Arrived</b>: The time (expressed in minutes after midnight) when the patient checked in on the appointment day.
<li><b>Date When Appt Scheduled</b>: The day when the appointment was scheduled
<li><b>CAN or BMP Date</b>: If the appointment was cancelled or bumped, the date when this even happened.
<li><b>Provider ID</b>: The id of the provider scheduled to see the patient.
<li><b>Gender</b>: The patient's gender.
<li><b>Patient Age at Appt Date</b>: The age of the patient at Appt Date.
<li><b>Marital Status</b>: The patient's marital status.
<li><b>Employment status</b>: The patient's employment status.
</ul>

## Question 1 (2 pts, $\le$ 3 lines of code)

Find whether marital status and gender affect the probability of no-show. First, you will need to make a copy of df without the appointments whose outcome is different from no-show or arrived. Then, for each existing combination of marital status and gender, find the number of appointments and their probability of no-show. <b>Use at most 3 lines of code</b>.

In [3]:
dfcopy = df[(df['Appointment Status'] == 'No Show') | (df['Appointment Status'] == 'Arrived')].copy()

In [4]:
dfcopy['No Show'] = dfcopy['Appointment Status'] == 'No Show'

In [5]:
dfcopy.groupby(by = ['Marital Status','Gender']).agg({'No Show': [lambda se: len(se[se.values == True]),'size', 'mean']}).rename(columns = {'<lambda>':'Number of No Show','size':'Total Number of Appointments','mean':'Probability of No Show'})

                                No Show                               \
                      Number of No Show Total Number of Appointments
Marital Status Gender
DIVORCED       F                    379                         2408
               M                     91                          529
LIFE PARTNER   F                      2                           21
MARRIED        F                    868                         8618
               M                    463                         3632
SEPARATED      F                    187                          700
               M                     42                          168
SINGLE         F                   1171                         5881
               M                    514                         2343
UNKNOWN        F                      9                           22
               M                      4                           14
WIDOW          F                    287                         1908
               M                     25                          136


                      Probability of No Show
Marital Status Gender
DIVORCED       F                    0.157392
               M                    0.172023
LIFE PARTNER   F                    0.095238
MARRIED        F                    0.100719
               M                    0.127478
SEPARATED      F                    0.267143
               M                    0.250000
SINGLE         F                    0.199116
               M                    0.219377
UNKNOWN        F                    0.409091
               M                    0.285714
WIDOW          F                    0.150419
               M                    0.183824

## Question 2 (2 pts, $\le$ 3 lines of code)

<p>Using the data frame constructed in Q1, find whether the lead time to the appointment affects the probability of no-show. The lead time to the appointment is the number of days elapsed from the moment when the appointment was requested to the appointment date. </p>
<p>Find the no-show probability and number of appointments for each of the following lead time intervals (pay attention to the interval boundaries):
<ul>
<li>$\le$ 10 days
<li>between 11 and 20 days
<li>between 21 and 30 days
<li>over 30 days
</ul>
<p> <b>Use at most 3 lines of code</b>. Hint: You may find the function pd.cut helpful.</p>

In [6]:
dfcopy['leadTime'] = (pd.to_datetime(dfcopy['Appt Date']) - pd.to_datetime(dfcopy['Date When Appt Scheduled'])).dt.days

In [7]:
dfcopy['LeadTimeInterval'] = pd.cut(dfcopy.leadTime, [0, 11, 21, 31, dfcopy.leadTime.max() + 1], right = False, labels=['≤ 10 days','between 11 and 20 days','between 21 and 30 days','over 30 days'])

In [8]:
dfcopy.groupby('LeadTimeInterval').agg({'No Show': [lambda se: len(se[se.values == True]),'size', 'mean']}).rename(columns = {'<lambda>':'Number of No Show','size':'Total Number of Appointments','mean':'Probability of No Show'})

                                 No Show                               \
                       Number of No Show Total Number of Appointments
LeadTimeInterval
≤ 10 days                            587                         5520
between 11 and 20 days               553                         3655
between 21 and 30 days               515                         3143
over 30 days                        2391                        14076


                       Probability of No Show
LeadTimeInterval
≤ 10 days                            0.106341
between 11 and 20 days               0.151300
between 21 and 30 days               0.163856
over 30 days                         0.169864

## Question 3 (6 pts, $\le$ 8 lines of code not including comments, $\le$ 20 words of explanation)

<p>Using the data frame constructed in Q1, find whether the no-show probability of a given appointment is affected by the patient's no-show behavior prior to that appointment. Do not consider first-time appointments. </p>

<p>Present your results with one table and then discuss it in at most 20 words. Make sure that your table is easy to understand; for example, try to use descriptive column headers.</p>

<p> This problem is left vague on purpose. In particular, how to analyze past no-show behavior is up to you. No help will be given to answer this question, aside from clarifications on the wording and on the data. </p>

##### Group data by patients and aggregate on their Appointment Status based on  patient's appointment date   
For instance, if certain patient has 3 appointments, then his/her Appointment Status behavior list will look like   
[No Show, No Show, Arrived]

In [9]:
# Line 1
df2 = dfcopy.sort_values(by = 'Appt Date').groupby('MRN').agg({'Appointment Status' : lambda ApptStatus: [ApptStatus.values],'Appt Date':lambda ApptDate: [ApptDate.values]})

In [10]:
# This line is for data display
df2[:5]

                                  Appt Date             Appointment Status
MRN
0                            [[2011-09-02]]                    [[Arrived]]
2                            [[2012-07-02]]                    [[Arrived]]
4                [[2011-03-25, 2011-04-27]]           [[Arrived, Arrived]]
6                            [[2011-04-06]]                    [[Arrived]]
7    [[2011-06-21, 2012-07-02, 2013-07-01]]  [[Arrived, Arrived, Arrived]]

Transform each patient's Appointment Status for later use   
[[Arrived, Arrived, Arrived]] will become [Arrived, Arrived, Arrived]

In [11]:
# Line 2
df3 = df2['Appointment Status'].apply(lambda listOflist: listOflist[0]).to_frame()

In [12]:
# This line is for data display
df3[:5]

              Appointment Status
MRN
0                      [Arrived]
2                      [Arrived]
4             [Arrived, Arrived]
6                      [Arrived]
7    [Arrived, Arrived, Arrived]

Remove patients that had only one appointment

In [13]:
# Line 3
df3['OneRecord'] = df3['Appointment Status'].apply(lambda row: True if len(row) == 1 else False)

In [14]:
# Line 4
df4 = df3[df3.OneRecord == False].drop('OneRecord', axis = 1)

In [15]:
# This line is for data display
df4[:5]

                                    Appointment Status
MRN
4                                   [Arrived, Arrived]
7                          [Arrived, Arrived, Arrived]
8    [No Show, Arrived, Arrived, Arrived, Arrived, ...
11                                  [No Show, Arrived]
17                                  [Arrived, Arrived]

Extract the 'Appointment Status' column and convert the record to a list of appointment behaviors tuples.    
If certain patient has an appointment status list [No Show, No Show, Arrived], then his visiting pattern is [[No Show, No Show],[No Show, Arrived]]

In [16]:
# Line 5
df5 = df4['Appointment Status'].apply(lambda row: [[row[i], row[i+1]] for i in range(len(row) - 1)]).to_frame('Behavior Tuples')

In [17]:
df5[:5]

                                       Behavior Tuples
MRN
4                                 [[Arrived, Arrived]]
7             [[Arrived, Arrived], [Arrived, Arrived]]
8    [[No Show, Arrived], [Arrived, Arrived], [Arri...
11                                [[No Show, Arrived]]
17                                [[Arrived, Arrived]]

Using a trick, 'sum(listoflist, [])' to put every patient's appointment behavior tuples in one list   
This list will look like   
[['Arrived', 'Arrived'],   
 ['Arrived', 'Arrived'],   
 ['Arrived', 'Arrived'],.....]

In [18]:
listOfAllBehaviorTuples = sum(df5['Behavior Tuples'].tolist(),[])

In [19]:
listOfAllBehaviorTuples[:5]

[['Arrived', 'Arrived'],
 ['Arrived', 'Arrived'],
 ['Arrived', 'Arrived'],
 ['No Show', 'Arrived'],
 ['Arrived', 'Arrived']]

Feed the list to a new DataFrame

In [20]:
# Line 6
df6 = pd.DataFrame(listOfAllBehaviorTuples, columns = ['PreviousTime','ThisTime'])

In [21]:
# This line is for display only
df6[:5]

  PreviousTime ThisTime
0      Arrived  Arrived
1      Arrived  Arrived
2      Arrived  Arrived
3      No Show  Arrived
4      Arrived  Arrived

We groupby patients' prior behavior and then compute the no-show probability given that behavior.    
We can see 'No Show Probability Of This Time' is much higher if prior behavior is 'No-show' than prior behavior is 'Arrived'

In [22]:
# Line 7
df6.groupby('PreviousTime').agg({'ThisTime' :lambda thisTimese: len(thisTimese[thisTimese.values == 'No Show']) / float(len(thisTimese))}).rename(columns = {'ThisTime':'No Show Probability of This Time' })

              No Show Probability of This Time
PreviousTime
Arrived                               0.135453
No Show                               0.308345

#### Discussion of findings on the table :
#### Population-wise,the 'No-show' probability of a given appointment is affected by the patient's no-show behavior prior to that appointment.